# Dependencies
node_modules

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Python Virtual Environment
.venv

# Python cache
__pycache__

# Jwt secrets generation script
./utils/generateJwtSecrets.js