# Dependencies
node_modules/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Firebase Service Account Key
service-account-key.json

# Downloads directory
downloads/

# Python Virtual Environment
.venv

# Python cache
__pycache__

# Python model
best_model.keras